language: node_js
services: postgresql
install:
  - npm install
before_script:
  - npm install -g gulp
  - npm install -g mocha
  - npm install -g casperjs
  - npm install -g phantomjs
script: gulp test
t
