<form class="form-inline">
  <input ng-model="todo.item.text" class="form-control" type="text" placeholder="New task...">
  <button ng-hide="showDateInput" ng-click="showDateInput = true" class="btn btn-default">
    <i class="fa fa-calendar" aria-hidden="true"></i>
  </button>
  <input ng-model="todo.item.date" ng-show="showDateInput" class="form-control" type="date" name="date">
  <input ng-click="todo.add(todo.item); showDateInput = false" class="btn btn-primary" type="button" name="Add" value="Add">
</form>
